*.asv
*.arf
*.bat
*.gif
reports/*.*
#boost, libigl, eigen and pardiso 
dependencies/eigen/*
dependencies/libigl/*
dependencies/boost/*

mexed_solver/VS_mex/*
mexed_solver/mex/*.lib
mexed_solver/mex/*.dll
mexed_solver/mex/*.exp
mexed_solver/mex/*obj
mexed_solver/mex/*pdb
mexed_solver/mex/*.asv